<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*CARRY MINIMAL AMOUNT OF INFORMATION BETWEEN VIEWS*@
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @*HERE MY CONTENT VIEW WILL BE RENDERED*@
        @RenderBody()
    </div>
    <footer>
        @RenderSection("footer", required:false)
        @*THIS WILL INVOKE A VIEW COMPONENT NAMED GreeterViewComponent*@
        @*@await Component.InvokeAsync("Greeter");*@
        @*ALTERNATIVE: TAGHELPER (NEED TO ADJUST _ViewImports.cshtml)*@
        <vc:greeter></vc:greeter>
    </footer>
</body>
</html>
