@model Restaurant

@{
    ViewBag.Title = "Create";
}

<h1>Create</h1>
@*POST BACK TO THE SAME URL IT CAME FROM*@
@*FROM CREATE AN HIDDEN INPUT OF NAME "__RequestVerificationToken" WITH A CRYPTOGRAPHICLY
SIGNIFICANT TOKEN TO PREVENT CROSS SITE REQUEST FORGERY!*@
<form method="post">
    @*TAGHELPER*@
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Cuisine"></label>
        <select asp-for="Cuisine" asp-items="@Html.GetEnumSelectList<CuisineType>()"></select>
        <span asp-validation-for="Cuisine"></span>
    </div>
    <input type="submit" name="save" value="Save" />
</form>

